            <h3>Java Quiz Question</h3>
            <form>
              <div class="form-group">
                <label for="question_title"><%= details.question_title %></label>
                <p class="question_block"><%= details.question_text%></p>
              </div>
              <% for(var i = 0; i < details.question_options.length; i++) { %>
                <div class="radio">
                <label>
                  <input type="radio" name="answer_options" value="<%= details.question_options[i] %>"> <%= details.question_options[i] %>
                </label>
              </div>
              <% } %>
              <input type='button' class="btnSubmit btn btn-default" value="Submit" id="<%= details.question_id %>"/>
            </form>
            </br>
            <% var progressBar = "style = \"width :" +progress +"%\"" %>
            <div class="progress">
             <div class="progress-bar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="200" <%= progressBar %>>
              <%= progress+"%" %>
            </div>
            </div>
