<!-- Need to execute a command after a for loop in function populateQuizs-->

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Student Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="bootstrap/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="bootstrap/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!-- <link href="assets/css/demo.css" rel="stylesheet" /> -->


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="bootstrap/css/pe-icon-7-stroke.css" rel="stylesheet" />
	<style>
	/*#986DDA*/
			.item{
		background-color:#fff;
		display:block;
		}

		.carousel-caption{
		color:#000;
		position:static;
		}

		img.hover-image{
			position:absolute;
			}

	</style>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="img/sidebar-5.jpg">

<div class="sidebar-wrapper">
	<div class="logo">
		<a href=# class="simple-text">
			Hello!  <%= results.userDetails.userName %>
		</a>
	</div>

	<ul class="nav">
		<li class="active">
			<a href="dashboard.ejs">
				<i class="pe-7s-graph"></i>
				<p>Dashboard</p>
			</a>
		</li>
		<li>
			<a href="profile">
				<i class="pe-7s-user"></i>
				<p>User Profile</p>
			</a>
		</li>
		<li>
			<a href="table">
				<i class="pe-7s-note2"></i>
				<p>Leaderboard</p>
			</a>
		</li>
		<li>
			<a href="typography.ejs">
				<i class="pe-7s-news-paper"></i>
				<p>Visualizations</p>
			</a>
		</li>
		<li>
			<a href="study_group.ejs">
				<i class="pe-7s-rocket"></i>
				<p>Study Groups</p>
			</a>
		</li>
	</ul>
</div>
</div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <!-- <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">ABC</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul> -->

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="profile">
                               Account
                            </a>
                        </li>
                        <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Settings
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li> -->
                        <li>
                            <a href="logout" id="logout">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4" id="stackedBarDiv">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">My Performance</h4>
                                <p class="category">Some text</p>
                            </div>
                            <div class="content">
                                <div id="stackedBar" class="ct-chart ct-perfect-fourth">

								</div>

                                <!-- <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Bounce
                                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                                    </div>
                                    <hr>
                                </div> -->
                            </div>
                        </div>
                    </div>

					<div class="col-md-8">
						<div class="card quizSection">
							<div id="carousel-example" class="carousel slide" data-ride="carousel">
							    <!-- Wrapper for slides -->
							    <div class="row">
							        <div class="col-md-offset-2 col-md-8">
							            <div id="quizSection" class="carousel-inner">
										    <% if (results.input.length == 0) { %>
										         <div class = "item active" id="questions" style="height: 430px;">
										         <div class="carousel-content" style="height: 430px;">
										        <div class="panel-head">
										        </div>
										        <div class="panel-body">

										        </div>
												<div class="panel-body">
													<h4 style="text-align: center";>
														Hoorah!! You have answered all your questions until now! :D
													</h4>
													<img src="img/task.jpg" alt="Success text" height="300" />
												</div>
										        </div>
										        </div>
										    <% } else { %>
										    <% for(var i=0;i < results.input.length ;i++) { %>
										        <!-- <% if(results.input[i].today) { %> -->
										            <div class = "item active" id="questions" style="height: 430px;">
										        <!-- <% } else { %> -->
										            <!-- <div class = "item " id="questions" style="height: 430px;"> -->
										        <!-- <% } %> -->
										        <% var temp = results.input[i] %>
										        <div class="carousel-content" style="height: 430px;">
										        <div class="panel-head">
										        <h3 style="text-align: center;"> <%= "Question " + temp.questionId %>  </h3>
										        </div>
										        <div class="panel-body">
										            <div>
										            <div style="text-align: left; font-size: 10px"><B> <%= temp.subTopic %> </B></div>
										            <div style="text-align: right; font-size: 18px"> <%= temp.topic %> </div>
										            </div>
										        </div>
										        <div class="panel-body">
										            <div class="col-xs-12 col-sm-9 question_section" style="padding: 10px 10px 30px 30px">
										            <form  onsubmit="event.preventDefault(); id="student_course_quiz_question" method="POST" action="/update_student_performance">
										              <div class="form-group">
										                <% console.log(temp) %>
										                <p class="question_block"> <%= temp.questionsText %>  </p>
										                <input type="text" name="question_text" value="<%= temp.questionsText %>" style="display: none;">
										              </div>
													  <%= console.log(temp.options) %>
										               <% for(var j=0;  j < temp.options.length; j++) { %>
										                <div>
										                <label>
										                  <input type="radio" name="options" value="<%= temp.options[j] %>"> <%= temp.options[j] %>
										                </label>
										                </div>
										                <% } %>
										              <button type="submit" id="submitBtn" class="btn btn-primary student_quiz_submission" style="text-align: center;">Submit</button>
										            </form>
										            </div>
										              </div>
										             </div>
										            </div>
										             <% } %>
										                 <% } %>


							            </div>
							        </div>
							    </div>
							    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
							    <span class="glyphicon glyphicon-chevron-left"></span>
							  </a>
							 <a class="right carousel-control" href="#carousel-example" data-slide="next">
							    <span class="glyphicon glyphicon-chevron-right"></span>
							  </a>
							</div>

							</div>
						</div>
					</div>
				<!-- </div> -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Leaderboard</h4>
                                <p class="category">See where you stand!</p>
                            </div>
                            <div class="content">
                                <div>
									<table class="table table-hover table-striped">
										<thead>
											<th>Rank</th>
											<th>Name</th>
											<th>Score</th>
										</thead>
										<tbody id="leaderboard">

										</tbody>
									</table>
								</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Additional Reading materials</h4>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <% console.log(results) %>
                                            <% if(results.input.length == 0 ||
                                            results.input.reading_materials == undefined ||
                                             results.input.reading_materials.length == 0 ) { %>
                                            <tr>
                                                <td>  No Recommendations Available
                                                </td>
                                            </tr>
                                            <% } else { %>


                                            <% for(var k =0; k < results.input[0].reading_materials.length; k++) { %>
                                            <tr>
                                                <td><%=results.input[0].reading_materials[k].reco_text %></td>
                                                <td class="td-actions text-right">
                                                    <form action="/updateUsefulReco" method="post">
                                                   <input type="text" name="question_id" value="<%= results.input[0].question_id %>" style="display: none;">
                                                    <input type="text" name="reco_text" value="<%=results.input[0].reading_materials[k].reco_text %>" style="display: none;">
                                                    <button type="submit" rel="tooltip" title="Useful" class="btn btn-info btn-simple btn-xs">
                                                        <i class="glyphicon glyphicon-thumbs-up"></i>
                                                    </button>
                                                    </form>
                                                    <form action="/updateNotUsefulReco" method="post">
                                                    <input type="text" name="question_id" value="<%= results.input[0].question_id %>" style="display: none;">
                                                    <input type="text" name="reco_text" value="<%=results.input[0].reading_materials[k].reco_text %>" style="display: none;">
                                                    <button type="submit" rel="tooltip" title="Not useful" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="glyphicon glyphicon-thumbs-down"></i>
                                                    </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/ejs.js"></script>


</body>

    <!--   Core JS Files   -->
    <script src="bootstrap/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="bootstrap/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="bootstrap/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="bootstrap/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="bootstrap/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<!-- <script src="assets/js/demo.js"></script> -->
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
	<script src="js/d3.core.js"></script>
	<script src="js/d3.stackedbar.js"></script>

	<script type="text/javascript">
	var input = [{
    "week_number": 2,
    "question_id": 9,
    "topic" : "",
    "subtopic" : "",
    "question_title": "Question 9",
    "question_text": "A process can be",
    "question_options":[
        "Single threaded",
        "Multi threaded",
    "both single and multithreaded",
    "none of the above"
],
    "reading_materials" : [
    "url1",
    "url2"
    ]
},{
"week_number": 2,
"question_id": 10,
"topic" : "",
"subtopic" : "",
"question_title": "Question 10",
"question_text": "A process can be",
"question_options":[
	"Single threaded",
	"Multi threaded",
"both single and multithreaded",
"none of the above"
],
"reading_materials" : [
"url1",
"url2"
]
}];
var questions_section = [];
var temp,i;
	function getScript(url, callback) {
   var script = document.createElement('script');
   script.type = 'text/javascript';
   script.src = url;


   document.getElementsByTagName('head')[0].appendChild(script);
   script.onreadystatechange = callback;
   script.onload = callback;
}
function populateHTML(){
	tempString = '<div class = "item active" id="questions" style="height: 430px;">';
	tempString1 = '<div class = "item" id="questions" style="height: 430px;">';
	for(i=0;i<2	;i++){
		temp = input[i];
		question_template = '<div class="carousel-content" style="height: 430px;"> ' +
		'<div class="panel-head">' +
		'<h3 style="text-align: center;"> ' + temp.topic + '</h3> ' +
		'</div> ' +
		'<div class="panel-body"> ' +
		'    <div> ' +
		'    <div style="text-align: left; font-size: 20px"><B>' + temp.subtopic + '</B></div>' +
		'    <div style="text-align: right; font-size: 18px">' + temp.question_title + '</div> ' +
		'    </div> ' +
		'</div> ' +
		'<div class="panel-body">' +
		'    <div class="col-xs-12 col-sm-9 question_section" style="padding: 10px 10px 30px 30px">' +
		'    <form id="student_course_quiz_question" method="POST" action="/update_student_performance"> ' +
		'      <div class="form-group"> ' +
		'        <p class="question_block"> ' + temp.question_text + ' </p> ' +
		'      </div> ' +
		'        <div class="checkbox"> ' +
		'        <label> ' +
		'          <input type="checkbox"> ' + temp.options[0] +
		'        </label> ' +
		'      </div> ' +

		'        <div class="checkbox"> ' +
		'        <label> ' +
		'          <input type="checkbox"> ' + temp.question_options[1] +
		'        </label> ' +
		'      </div> ' +

		'        <div class="checkbox"> ' +
		'        <label> ' +
		'          <input type="checkbox"> ' + temp.question_options[2] +
		'        </label> ' +
		'      </div> ' +

		'        <div class="checkbox"> ' +
		'        <label> ' +
		'          <input type="checkbox"> ' + temp.question_options[3] +
		'        </label> ' +
		'      </div> ' +

		'      <button type="submit" class="btn btn-primary student_quiz_submission" style="text-align: center;">Submit</button>' +
		'    </form>' +
		'    </div>' +
		'      </div> ' +
		'     </div>' +
		' </div>'
		'</div></div>';
		if(i==0){
			questions_section.push(tempString + question_template);
		}
		else{
			questions_section.push(tempString1 + question_template);
		}
	}
	document.getElementById("quizSection").innerHTML = questions_section.join("\n");
	return;
}

var leaderboardInput1 = [{"studentName" : "s1", "studentScore": 19, "studentEmail": "s1@asu.edu"},
{"studentName" : "s2", "studentScore": 190, "studentEmail": "s2@asu.edu"},
{"studentName" : "s3", "studentScore": 80, "studentEmail": "s3@asu.edu"},
{"studentName" : "s4", "studentScore": 50, "studentEmail": "s4@asu.edu"}];
leaderboardInput1.sort(function (a,b){
	return parseFloat(b.studentScore) - parseFloat(a.studentScore)
});

var leaderboardTemplate = [];
function populateLeaderboard(){
	var leaderboardInput = []
	$.get("/tableJSON", function(){
	console.log("called methods");
}).done(function(data){
	leaderboardInput = data;
	// <%= console.log(results) %>
		for(i=0;i<5;i++){
			k = i;
			temp = leaderboardInput[k];
			// console.log(temp);
			img_path = "img/faces/face-" + (i%7) + ".jpg";
			// console.log(img_path);
			template = '<tr>' +
			'<td>' + (i+1) +
			'</td>' +
			'<td>' +
			'<a href="#" class="hover-link" data-hover-image="' + img_path + '">' + temp._id + '</a> ' +
			'</td>' +
			'<td>' + temp.studentTotalScore +
			'</td>' +
			'</tr>';
			//$('#leaderboard').after(template);
			leaderboardTemplate.push(template);
			// console.log(leaderboardTemplate);
		}
		$('#leaderboard').html(leaderboardTemplate.join("\n"));
	});
	// $('#leaderboard').html(leaderboardTemplate.join("\n"));
}

$('#student_course_quiz_question').submit(function(){
    $()
})

function wrap(text, width) {
	text.each(function() {
		var text = d3.select(this),
				words = text.text().split(/\s+/).reverse(),
				word,
				line = [],
				lineNumber = 0,
				lineHeight = 1.1, // ems
				y = text.attr("y"),
				dy = parseFloat(text.attr("dy")),
				tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
		while (word = words.pop()) {
			line.push(word);
			tspan.text(line.join(" "));
			if (tspan.node().getComputedTextLength() > width) {
				line.pop();
				tspan.text(line.join(" "));
				line = [word];
				tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
			}
		}
	});
}

function drawStackedBar(dataset){
	console.log(dataset);
	var margin = {top: (parseInt(d3.select('#stackedBarDiv').style('height'), 10)/20), right: (parseInt(d3.select('#stackedBarDiv').style('width'), 10)/20), bottom: (parseInt(d3.select('#stackedBarDiv').style('height'), 10)/6), left: (parseInt(d3.select('#stackedBarDiv').style('width'), 10)/20)},
			width = parseInt(d3.select('#stackedBar').style('width'), 10) - margin.left - margin.right,
			height = parseInt(d3.select('#stackedBar').style('height'), 10) - margin.top - margin.bottom;
	var x = d3.scale.ordinal()
			.rangeRoundBands([0, width], .1,.3);
	var y = d3.scale.linear()
			.rangeRound([height, 0]);
	var colorRange = d3.scale.category20();
	var color = d3.scale.ordinal()
			.range(colorRange.range());
	var xAxis = d3.svg.axis()
			.scale(x)
			.orient("bottom");
	var yAxis = d3.svg.axis()
			.scale(y)
			.orient("left")
			.tickFormat(d3.format(".2s"));
	var svg = d3.select("#stackedBar").append("svg")
			.attr("width", width + margin.left + margin.right)
			.attr("height", height + margin.top + margin.bottom)
			.append("g")
			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	var divTooltip = d3.select("#stackedBar").append("div").attr("class", "toolTip");
	color.domain(d3.keys(dataset[0]).filter(function(key) { return key !== "label"; }));
	dataset.forEach(function(d) {
		var y0 = 0;
		d.values = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
		d.total = d.values[d.values.length - 1].y1;
	});
	x.domain(dataset.map(function(d) { return d.label; }));
	y.domain([0, d3.max(dataset, function(d) { return d.total; })]);
	svg.append("g")
			.attr("class", "x axis")
			.attr("transform", "translate(0," + height + ")")
			.call(xAxis);
	svg.append("g")
			.attr("class", "y axis")
			.call(yAxis)
			.append("text")
			.attr("transform", "rotate(-90)")
			.attr("y", 9)
			.attr("dy", ".71em")
			.style("text-anchor", "end")
			.text("Correct answers");
	var bar = svg.selectAll(".label")
			.data(dataset)
			.enter().append("g")
			.attr("class", "g")
			.attr("transform", function(d) { return "translate(" + x(d.label) + ",0)"; });
	svg.selectAll(".x.axis .tick text")
			.call(wrap, x.rangeBand());

	var bar_enter = bar.selectAll("rect")
	.data(function(d) { return d.values; })
	.enter();

bar_enter.append("rect")
	.attr("width", x.rangeBand())
	.attr("y", function(d) { return y(d.y1); })
	.attr("height", function(d) { return y(d.y0) - y(d.y1); })
	.style("fill", function(d) { return color(d.name); });

bar_enter.append("text")
	.text(function(d) { return (d.y1-d.y0); })
	.attr("y", function(d) { return y(d.y1)+(y(d.y0) - y(d.y1))/2; })
	.attr("x", x.rangeBand()/3)
	.style("fill", '#ffffff');

	bar.on("mousemove", function(d){
				divTooltip.style("left", d3.event.pageX+10+"px");
				divTooltip.style("top", d3.event.pageY-25+"px");
				divTooltip.style("display", "inline-block");
				var elements = document.querySelectorAll(':hover');
				l = elements.length
				l = l-1
				element = elements[l].__data__
				value = element.y1 - element.y0
				divTooltip.html((d.label)+"<br>"+element.name+"<br>"+value);
			});
	bar.on("mouseout", function(d){
				divTooltip.style("display", "none");
			});
	svg.append("g")
			.attr("class", "legendLinear")
			.attr("transform", "translate(0,"+(height+30)+")");
	var legend = d3.legend.color()
			.shapeWidth(height/4)
			.shapePadding(10)
			.orient('horizontal')
			.scale(color);
	svg.select(".legendLinear")
			.call(legend);
}

$(document).ready(function(){
	$('#submitBtn').click(function(){
		isChecked = $("input:radio[name='options']").is(":checked");
		console.log(isChecked);
		if(isChecked){
			return true;
		}
		else{
			alert("Select an option before you submit");
			return false;
		}
	})

			 var height = Math.max($(".card").height(), $("#quizSection").height());
			 $("#preferences").height(height);
			 $("#quizSection").height(height);
			//  $("#questions").height(height);
			//  $(".carousel-content").height(height);
			//  console.log($('#questions').height() + "  and " + $('.carousel-content').height());
			// populateHTML();
			populateLeaderboard();
        	// demo.initChartist();
			$('a.hover-link').mouseenter(function() {
      			$('img.hover-image').remove();
      			$(this).append('<img class="hover-image" src="' + $(this).attr('data-hover-image') + '"/>')
    		}).mouseleave(function() {
      			$('img.hover-image').remove();
			});

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome back!"

            },{
                type: 'info',
                timer: 4000
            });

    	});
		$.ajax({url: "dataset", success: function(result){
			console.log(result);
			drawStackedBar(result)
		}});



	</script>

</html>
